{% extends "layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ engine }}</h2>
    {% if pages %}
        <ul>
            {% for page in pages %}
                    <li {% if page == currentPage %}class="current"{% endif %}>{{ page }}</li>
            {% endfor %}
        </ul>
    {% else %}
            <p>empty</p>
    {% endif %}
{% endblock %}
