{layout layout.latte}

{block title}{$title}{/block}

{block content}
    <h2>{$engine}</h2>
    {if $pages}
        <ul n:inner-foreach="$pages as $page">
            <li n:class="$page == $currentPage ? current">{$page}</li>
        </ul>
    {else}
        <p>empty</p>
    {/if}
{/block}
